@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

body{
    font-family: 'Inter', sans-serif;
}

img{
    width: 100%;
    height: auto;
}

.logo{
    width: 2rem;
}

.navbar--background{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 3px;
}

.link__hover,
.link__hover:hover{
    background-color:   #5dade2 ;
    color: white;
}

.hero--list{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto) );
    gap: 2rem;    
}

.card-hero{
    cursor: pointer;
    width: 14rem;
    border-radius: 2rem;
    border: 1px solid #eee;
    overflow: hidden;
}

.card--header{
    width: 100%;
}

.card--description{
    padding: 2rem;
}

.card-hero--title{

    font-size: 1.5rem;
    font-weight: 600;
}